/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Google Sans', sans-serif;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style-type: none;
}
li {
    display: inline-block;
}

/* DEBUG */
.debug ,
.debug * {
    background-color: #ff000022;
    border: 2px dashed red;
}





/* ⚙️ VARIABILI ⚙️ */
:root {
    /* @ TODO: Provare a dare questa font-size solo a header e cards, il resto sembra essere un po piu grande */
    font-size: 13px;
    --col-spacing: 1rem;
    --hero-offset: 7rem;
    --primary-color: #0061FE;
    --primary-text-color: #222;
    --card-border-color: #00000044;
}





/* ⚪ UTILS */
section {
    padding: 2rem 0;
}
.container {
    max-width: 900px;
    margin: 0 auto;
}
.container.container-xl {
    max-width: 1100px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(var(--col-spacing) * -1);
    row-gap: calc(2 * var(--col-spacing));
}
[class*="col"] {
    padding: 0 var(--col-spacing);
}
.col-1-2 {
    width: calc(100% / 2);
}
.col-1-3 {
    width: calc(100% / 3);
}
.col-2-3 {
    width: calc(100% / 3 * 2);
}
.col-1-4 {
    width: calc(100% / 4);
}
.col-3-4 {
    width: calc(100% / 4 * 3);
}
.col-1-5 {
    width: calc(100% / 5);
}
.col-1-6 {
    width: calc(100% / 6);
}
.col-7-10 {
    width: calc(100% / 10 * 7);
}
.col-3-10 {
    width: calc(100% / 10 * 3);
}
.col-6-10 {
    width: calc(100% / 10 * 6);
}
.col-4-10 {
    width: calc(100% / 10 * 4);
}
.col-100 {
    width: 100%;
}
.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex-grow: 1;
}
.btn {
    padding: .5rem .75rem;
    background-color: transparent;
    border: 0;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
}
.btn.btn-primary {
    background-color: var(--primary-color);
    color: #fff;
}
.btn.btn-outline {
    color: #313131;
    border: 1px solid;
}
.btn.btn-block {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: block;
    width: 100%;
}
a.decorated-link {
    text-decoration: underline;
    color: #453497;
}
h1 {
    font-size: 5rem;
    font-weight: 700;
}
h2 {
    font-size: 2.5rem;
    margin-bottom: 1em;
}
h3 {
    font-size: 1.5rem;
    margin-bottom: 1em;
}
h4 {
    margin-bottom: 1em;
}
p {
    line-height: 1.33;
}
p,
span,
ul,
label {
    /* CAMBIA ANCHE PER .pricing-card-header VALUTARE SE USARE VARIABILE (TIPO: --primary-text-color?) */
    color: var(--primary-text-color);
}





/* ⚪ HEADER */
.page-header {
    background-color: #fff;
    padding: 1.5rem 1.25rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.15rem;

    /* Mia aggiunta */
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 0 .5rem rgba(0,0,0,0.2);
}
.main-menu ul,
.secondary-menu ul {
    display: flex;
    align-items: center;
    gap: 2.25rem;
}
.secondary-menu .btn-primary {
    padding-inline: 1rem;
}
.logo {
    display: block;
}
.logo img {
    display: block;
    max-height: 1.75rem;
}





/* ⚪ MAIN */
#hero {
    background-color: #B4D0E7;
    padding-top: 0;
    /* margin-bottom: var(--hero-offset); */
    margin-bottom: calc(var(--hero-offset) + 2rem);
}
#hero .container {
    transform: translateY(var(--hero-offset));
}
#hero .col-1-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}
#hero .btn {
    padding: .75rem 1rem;
}
#hero .col-1-4 i {
    margin-top: auto;
    margin-bottom: var(--hero-offset);
}
#hero img {
    /* Iniziale simile a riferimento */
    /* filter: drop-shadow(0 0 5px rgba(0,0,0,0.1)); */
    /* Modificato per consistenza delle ombre con pricing-cards (Mia aggiunta,forse usare variabile) */
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.2));
}
#pricing {
    border-top: 1px solid #0000000c;
    /* Aggiungo il restante spazio dopo aver impostato il margin-bottom della sezione #hero a: var(--hero-offset); */
    padding-top: 4rem;
}
#pricing .scelta-fatturazione {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 4rem 0 2rem;
}
#pricing .scelta-fatturazione label {
    display: flex;
    align-items: center;
    gap: .33rem;
}
#pricing .scelta-fatturazione label i {
    font-size: 1.25rem;
}
#pricing .scelta-fatturazione label i.fa-circle-dot {
    color: var(--primary-color);
}
input[type='radio'] {
    display: none;
}
input[type='radio'] + i.fa-circle-dot {
    display: none;
}
input[type='radio']:checked + i.fa-circle-dot {
    display: block;
}
input[type='radio']:checked + i.fa-circle-dot + i.fa-circle {
    display: none;
}
.pricing-card {
    border: 1px solid var(--card-border-color);
    height: 100%;

    /* Aggiunta */
    box-shadow: 0 0 1rem rgba(0,0,0,0.2)
}
.pricing-card-header {
    color: var(--primary-text-color);
    border-bottom: 1px solid var(--card-border-color);
    padding: .5rem 0;
    text-align: center;
}
.pricing-card-body {
    padding: 2.5rem 2rem;
}
.pricing-info-container {
    min-height: 300px;
}
.pricing-card-footer {
    position: relative;
    padding: 2.5rem 2rem;
}
.pricing-card-footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 2rem;
    height: 1px;
    min-width: 3rem;
    background-color: var(--card-border-color);
}
.pricing-plan-price {
    font-size: .9rem;
    font-weight: bold;
    margin-bottom: 1em;
}
.pricing-plan-payment-details {
    font-size: .9rem;
    color: #888;
    margin-bottom: 3rem;
}
.pricing-features.fa-ul {
    margin-left: 1.5em;
    margin-bottom: 2rem;
}
.pricing-features.fa-ul li {
    margin-bottom: 1.5em;
}
.pricing-info-container + .btn {
    margin-bottom: 2em;
}
.pricing-salient.fa-ul {
    margin-left: 1.25em;
    margin-top: 2rem;
}
.pricing-salient.fa-ul li {
    margin-bottom: 1.25em;
}
.pricing-salient.fa-ul .fa-li {
    color: var(--primary-color);
}
.pricing-card-body > .row > .col-1-2 + .col-1-2 {
    text-align: right;
}
#partner {
    padding-top: 10rem;
}
#partner .col-4-10 {
    padding: calc(var(--col-spacing) * 3) calc(var(--col-spacing) * 3) 0 calc(var(--col-spacing) * 2);
}
#partner h3 {
    line-height: 1.5;
    margin-bottom: .5rem;
}
#partner p {
    margin-bottom: 2rem;
}
/* GIA PRESENTE, ACCORPARE */
#business-features {
    padding-top: 10rem;
}
#more {
    padding: 10rem 0;
}





/* ⚪ FOOTER */
.page-footer {
    background-color: #000000;
    color: #fff;
}
.footer-menu li {
    display: block;
    margin-bottom: 1.25em;
    color: #fff;
}
.page-footer-top {
    padding: 5rem 0;
}
.page-footer-bottom p {
    color: #888;
}
.page-footer-bottom .container {
    padding: 3rem 0;
    position: relative;
}
.page-footer-bottom .container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    background-color: #888;
    min-width: 7.5rem;
}